<div class="container">


  <div class="row">
    <div class="col-md-8" style="padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "profile.png" %>
        <%= image_tag "next.png" %>
        TEL 800 123 4567
      </div>

    </div>

    <div class="col-md-4">
      <h1>WELCOME！</h1>
      <p>某某农家院位于雁栖湖自然风景区脚下，距离雁栖湖入口不足1公里。某某农家院就在公路的旁边，交通方便，院内宽阔可同时停放各种车辆。某某农家院前面就是郁郁葱葱山林，空气清新宜人，每当阴雨时节，山林附近就会出现云雾缭绕的景象，犹如走入仙境一般，绝对是一个放松心情的好地方。</p>
      <p>您来到某某农家院不仅可以吃到纯天然的食物，如：柴鸡蛋，纯绿色蔬菜，体验不同的生活乐趣，更可吃到怀柔特有的虹鳟鱼等。</p>
      <p>休闲：这里空气新鲜、气候凉爽，非常适合避暑。</p>
      <p>绿色：各种蔬菜、山野菜均是纯天然无污染的绿色蔬菜。</p>
      
      <ul>

        <li class="text-danger">
          宫保鸡丁 Kung Pao Chicken
        </li>
        <li class="text-danger">
          北京杂酱面 Noodles with Soy Bean Paste,Beijing Style
        </li>
        <li class="text-danger">
          耗油牛肉Beef in oyster sauce
        </li>
        <li class="text-danger">
          清蒸鲈鱼Steamed sea bass
        </li>
        <li class="text-danger">
          Anything you want......
        </li>
      </ul>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        我们的特色
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-4">
      <h2>饭店大厅</h2>
      <%= image_tag "g5.jpg" %>
      <p>宴会厅，是指可以用于召开各类婚庆活动、公司聚餐、大型集会、演讲、报告、新闻发布、产品展示、举办中小型文艺演出、舞会等活动的场所。</p>
      <a class="btn btn-info" href="http://www.w3schools.com/bootstrap/">More Info</a>
    </div>

    <div class="col-md-4" >
      <h2>海仔鱼”</h2>
      <%= image_tag "g4.jpg" %>
      <p>乳白稠滑的汁液里浸着各种小鱼，也伴有小虾小蟹，;复杂的味觉感受，就好像人与人之间扑朔迷离的感情一样，说不清道不明，而吃鲜、嗜鲜的饮食传统，却源远流长。
      </p>
      <a class="btn btn-info" href="http://www.runoob.com/js/js-tutorial.html">More Info</a>
    </div>

    <div class="col-md-4" >
      <h2>玛格丽特披萨</h2>
      <%= image_tag "g1.jpg" %>
      <p>1889年，玛格丽特公主在那波里逗留的期间，当地厨师为向公主表达敬意，制作了以番茄、乳酪、罗勒为原料的皮萨，这三种原料恰好是红、白、绿三种颜色，正好符合了意大利的国旗的颜色。后来成为了意大利的“国食”。</p>
      <a class="btn btn-info" href="http://guides.ruby-china.org/">More Info</a>
    </div>
  </div>
</div>
